@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background: #fafafa;
    margin-top: 5rem;
    font-family: "Roboto", sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fafafa;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #c75b14;
    color: #fafafa;
  }


  a.nav-item.nav-link.nav-color {
    color: #fafafa;
}
a.nav-item.nav-link.nav-color:hover {
    color: rgb(194, 194, 194);
  }

  .navbar-brand {
    font-family: "Exo", sans-serif;
  }

  
  a.nav-item.nav-link.nav-color.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .container-margin {
      padding-top: 75px;
  }

  .sign-up-button button {
    color: rgb(71, 71, 71);
    border-color: #c75b14;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  .sign-up-button button:hover {
    background-color: #c75b14;
    border-color: #c75b14;
  }

  .sign-in-button a {
    color: rgb(71, 71, 71);
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }

  .sign-in-button a:hover {
    color: #c75b14;
    text-decoration: none;
  }

  .article-title {
    color: rgb(71, 71, 71);
    font-family: "Exo", sans-serif;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: rgb(71, 71, 71);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }